// navigation
header {
    background-color: $dark;
    position: relative;
    box-shadow: 0 0 5px 0 rgba($dark, 0.5);
    z-index: 10;
  
    h3 {
      display: inline-block;
    }
  
    ul {
      float: right;
      text-align: right;
  
      li {
        margin-top: 4px;
        margin-left: 6px;
  
        a {
          display: block;
          padding: 5px;
        }
      }
    }
  
    @media screen and (max-width: 742px) {
      h3 {
        display: block;
        text-align: center;
      }
  
      ul {
        float: none;
        text-align: center;
      }
    }
  }
  
  // login
  #login {
    background: linear-gradient(to right, $primary 0%, $primary 50%, $white 50%, $white 100%);
  
    @media screen and (max-width: 742px) {
      height: 100vh;
      background: $white;
    }
  
    .section1,
    .section2 {
      height: 100vh;
      padding-top: 30vh;
      @media screen and (max-width: 742px) {
        height: auto;
        padding-top: 20vh;
      }
    }
  
    .section1 {
      color: $white;
      background-color: blueviolet ;
      p {
        max-width: 490px;
        margin-top: 2rem;
        line-height: 1.8;
      }
  
      a {
        color: $white;
        text-decoration: underline;
      }
    }
  
    .signup-form {
      padding-top: 20vh;
      @media screen and (max-width: 742px) {
        padding-top: 10vh;
      }
    }
  
    .section2 {
      h1 {
        margin-bottom: 2rem;
      }
  
      form {
        max-width: 450px;
        margin: 0 auto;
      }
  
      .extras {
        float: right;
        text-align: right;
  
        a {
          display: block;
          margin-bottom: 0.5rem;
        }
      }
  
      .password-reset {
        h1 {
          margin-bottom: 1rem;
        }
  
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
  
  // dashboard
  #dashboard {
    section {
      padding: 2rem 0;
    }
  
    .section1 {
      flex: 0 0 30%;
  
      @media screen and (max-width: 1000px) {
        flex: 0 0 40%;
      }
    }
  
    .profile {
      background: $white;
      padding: 2rem;
  
      p {
        color: $medium;
        margin-bottom: 1rem;
      }
    }
    .no-results {
      border: 1px solid #e6ecf0;
      background: $white;
      text-align: center;
      padding: 100px 1rem;
    }
  }
  
  // profile
  #profile {
    padding: 2rem 0;
  
    .section1 {
      max-width: 600px;
      margin: 5vh auto 0;
      background: $white;
      padding: 2rem;
    }
  
    form {
      margin-top: 3rem;
    }
  
    .success {
      color: $success;
      margin: 0.5rem 0 -2rem;
    }
  
    .button {
      margin-top: 2rem;
    }
  }
  
  //Calculator
  .calc{
  
  
  .basic-calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px auto);
    margin: 0 auto;
    width: 400px;
    font-size: 40px;
  }
  .display{
    grid-column: 1/5;
    background-color: #333! important;
    color: #fff;
  }
  .clear{
    grid-column: 1/3;
  }
  .remove{
    grid-column: 3/5;
  }
  .btn{
    background-color: #f2f2f2;
    border: 1px solid #999;
    cursor: pointer;
  }
  .operator{
    background: blueviolet;
    color:#fff;
  }
  }