<template>
  <div id="dashboard">
    <section>
      <div class="section2 calc">
        <div class="calculator">
          <div class="basic-calculator no-result">
            <div class="display">{{number || '0'}}</div>
            <div @click="clear" class="btn clear">C</div>
            <div @click="remove" class="btn remove">Del</div>
            <div @click="append('7')" class="btn">7</div>
            <div @click="append('8')" class="btn">8</div>
            <div @click="append('9')"  class="btn">9</div>
            <div @click="multiply" class="btn operator">x</div>
            <div @click="append('4')" class="btn">4</div>
            <div @click="append('5')" class="btn">5</div>
            <div @click="append('6')" class="btn">6</div>
            <div @click="subtract" class="btn operator">-</div>
            <div @click="append('1')" class="btn">1</div>
            <div @click="append('2')" class="btn">2</div>
            <div @click="append('3')" class="btn">3</div>
            <div @click="addition" class="btn operator">+</div>
            <div @click="append('0')" class="btn">0</div>
            <div @click="dot" class="btn">.</div>
            <div @click="divide" class="btn operator">/</div>
            <div @click="equal" class="btn operator">=</div> 
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  components: {
  },
  data() {
    return {
      number:'',
      prevNum: null,
      operator: null,
      operatorClicked: false
    }
  },
  computed: {
  },
  methods: {
    clear(){
      this.number = '';
    },
    append(num){
      if(this.operatorClicked){
        this.number = '';
        this.operatorClicked = false;
      }
      this.number = `${this.number}${num}` ;
    },
    remove(){
      this.number = this.number.slice(0,-1)
    },
    addition(){
      this.operator = (a,b) => a+b;
      this.setPrevNum();
    },
    subtract(){
      this.operator = (a,b) => a-b;
      this.setPrevNum();
    },
    multiply(){
      this.operator = (a,b) => a*b;
      this.setPrevNum();
    },
    divide(){
      this.operator = (a,b) => a/b;
      this.setPrevNum();
    },
    setPrevNum(){
      this.prevNum = this.number;
      this.operatorClicked = true;
    },
    equal(){
      this.number = `${this.operator(
        parseFloat(this.prevNum) ,
        parseFloat(this.number))}`;
      this.prevNum = '';
    },
    dot(){
      if(this.number.indexOf('.')=== -1){
        this.append('.');
      }
    }
}
}
</script>