<template>
  <div id="dashboard">
    <section>
      <div class="section1">
        <div class="profile">
          Page Not found
        </div>
      </div>
    </section>

    
  </div>
</template>

<script>
export default {
  components: {
  },
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {

  },
}
</script>

<style lang="scss" scoped>

</style>
